@model MultipleChoicExam.Models.Subject01

<div class="container mt-3">
    <div class="card card-body">
        <form asp-controller="ManageUser" asp-action="EditSubject" method="post">
            <input asp-for="SubjectId" type="hidden" />
            <div class="row">
                <div class="col-sm-6">
                    <label asp-for="SubjectName" class="form-label">Môn thi</label>
                    <input asp-for="SubjectName" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label asp-for="Description" class="form-label">mô tả</label>
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
            <button type="submit" style="align-items: center" class="btn btn-info">Send</button>
        </form>
    </div>
</div>