
@model MultipleChoicExam.Models.UserAccount
<div class="container-fluid">
    <h4>Thông tin người dùng</h4>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Home" asp-action="AddUser" method="post">
                    
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label asp-for="UserId" class="form-label">Mã người dùng:</label>
                                <input type="text" class="form-control" asp-for="UserId" placeholder="Enter Userid" readonly>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="FullName" class="form-label">Họ và tên:</label>
                                <input type="text" class="form-control" asp-for="FullName" placeholder="Enter fullname" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="PhoneNumber" class="form-label">Điện thoại:</label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Enter phone"  required>
                            </div>
                        </div>
                  
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label asp-for="RoleId" class="form-label">Vai trò:</label>
                                <input type="text" class="form-control" asp-for="RoleId" placeholder="Enter Role" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="Password" class="form-label">Mật khẩu:</label>
                                <input type="password" class="form-control" asp-for="Password" placeholder="Enter password"  required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="Birthday" class="form-label">Ngày sinh:</label>
                                <input asp-for="Birthday" class="form-control" type="date" />
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label asp-for="UserName" class="form-label">Tài khoản:</label>
                                <input type="text" class="form-control" asp-for="UserName" placeholder="Enter username"  required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="Email" class="form-label">Email:</label>
                                <input type="email" class="form-control" asp-for="Email" placeholder="Enter password"  required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label asp-for="Address" class="form-label">Địa chỉ:</label>
                                <input type="text" class="form-control" asp-for="Address" placeholder="Enter address"  required>
                            </div>
                        </div>
                    
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>

</div>